In [1]:
import tabula
import sys
import pandas as pd
sys.path.append('../data')

In [2]:
sys.path.append('../scripts/')
from clean_statements import Cleaner 
cleaner= Cleaner()

In [8]:
# convert PDF into CSV
tabula.convert_into("../data/Statement_All_Transactions_20220101_20220701.pdf", "../data/mpesaData.csv", output_format="csv", pages='all')

Got stderr: Sep 03, 2022 6:18:27 PM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font LiberationSans for base font Symbol
Sep 03, 2022 6:18:27 PM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font LiberationSans for base font ZapfDingbats

In [12]:
summary= pd.read_csv('../data/mpesaData.csv', index_col = False,  nrows=11)
summary.drop('Unnamed: 3', axis=1, inplace=True)

In [13]:
summary

             TRANSACTION TYPE     PAID IN    PAID OUT
0                    Cash Out        0.00    7,390.00
1                  Send Money   52,508.00   64,162.00
2        Transaction Reversal       50.00        0.00
3                 B2C Payment   46,040.00        0.00
4                    Pay Bill        0.00   39,039.00
5                     Cash In   51,000.00        0.00
6                FSI Withdraw   17,000.00        0.00
7                 FSI Deposit        0.00   12,959.00
8   Customer Merchant Payment        0.00   39,717.50
9   Customer Airtime Purchase        0.00    3,630.00
10                     TOTAL:  166,598.00  166,897.50

In [14]:
summary.to_csv('../data/financialSummary.csv', index=False)

In [3]:
Mpesa_data = pd.read_csv('../data/mpesaData.csv', index_col = False, skiprows=12)
Mpesa_data.drop('Unnamed: 7', axis=1, inplace=True)

In [4]:
Mpesa_data.head()

,Receipt No,Completion Time,Details,Transaction Status,Paid in,Withdraw\rn,Balance
0,QG19OUVM6L,2022-07-01 18:25:24,Customer Transfer to 254798***904 -\rCaroline ...,COMPLETED,0.00,50.00,775.50
1,QG11OHV8NN,2022-07-01 16:04:31,Pay Bill Charge,COMPLETED,0.00,23.00,825.50
2,QG11OHV8NN,2022-07-01 16:04:31,Pay Bill to 200222 - NHIF Acc. 34664143,COMPLETED,0.00,500.00,848.50
3,QG10OHP9A0,2022-07-01 16:02:25,M-Shwari Withdraw,COMPLETED,"1,000.00",0.00,"1,348.50"
4,QG16OF8PA4,2022-07-01 15:31:39,Merchant Payment to 779959 - NAIVAS\rDEVELOPME...,COMPLETED,0.00,120.00,348.50

In [9]:
Mpesa_data['Transaction Status'].value_counts()

COMPLETED             660
Transaction Status     19
Name: Transaction Status, dtype: int64

1. Data Cleaning

In [5]:
Clean_data= cleaner.removerowsByValue(Mpesa_data, column='Transaction Status', val='Transaction Status')

In [6]:
Clean_data['Transaction Status'].value_counts()

COMPLETED    660
Name: Transaction Status, dtype: int64

Drop the Transaction status since all transactions were completed

In [38]:
Mpesa_data = pd.read_csv('../data/mpesaData.csv', index_col = False, skiprows=12)
Mpesa_data.drop('Unnamed: 7', axis=1, inplace=True)

In [39]:
Clean_data= cleaner.removerowsByValue(Mpesa_data, column='Transaction Status', val='Transaction Status')

In [40]:
Clean_data.tail()

,Receipt No,Completion Time,Details,Transaction Status,Paid in,Withdraw\rn,Balance
673,QA516U45RJ,2022-01-05 18:58:30,Deposit of Funds at Agent Till 574553 -\rAMSEK...,COMPLETED,"15,000.00",0.00,"15,005.00"
675,QA516GVQ0H,2022-01-05 15:55:39,Buy Bundles,COMPLETED,0.00,20.00,5.00
676,QA5369RQA5,2022-01-05 13:56:44,Buy Bundles,COMPLETED,0.00,50.00,25.00
677,QA4552ABBB,2022-01-04 18:25:46,Merchant Payment to 7899629 -\rDORCAS CHEP...,COMPLETED,0.00,300.00,75.00
678,QA4552782V,2022-01-04 18:24:54,M-Shwari Withdraw,COMPLETED,200.00,0.00,375.00

In [41]:
Clean_data['Details'].unique

<bound method Series.unique of 0      Customer Transfer to 254798***904 -\rCaroline ...
1                                        Pay Bill Charge
2                Pay Bill to 200222 - NHIF Acc. 34664143
3                                      M-Shwari Withdraw
4      Merchant Payment to 779959 - NAIVAS\rDEVELOPME...
                             ...
673    Deposit of Funds at Agent Till 574553 -\rAMSEK...
675                                          Buy Bundles
676                                          Buy Bundles
677    Merchant Payment to 7899629 -\rDORCAS     CHEP...
678                                    M-Shwari Withdraw
Name: Details, Length: 660, dtype: object>

In [42]:
details=Clean_data['Details']

In [43]:
from unicodedata import category


def read_details(details):
    detsA=[]
    
    for row in details:
        if 'Pay Bill Online ' in row:
            category= 'Pay Bill Online'
        elif 'Customer Transfer' in row:
            category = 'Customer Transfer'
        elif 'Merchant Payment 'in row :
            category= 'Merchant Payment'
        elif 'Business Payment' in row:
            category = 'Business Payment' 
        elif 'Funds received' in row:
            category = 'Funds received'
        elif 'Customer Withdrawal' in row:
            category = 'Customer Withdrawal'
        elif 'Deposit of Funds' in row:
            category = 'Deposit of Funds'
        elif 'Buy Bundles' in row:
            category='Buy Bundles'
        elif 'M-Shwari Withdraw' in row:
            category= 'M-Shwari Withdraw'
        elif 'M-Shwari Deposit' in row:
            category= 'M-Shwari Deposit'
        elif 'Pay Bill Charge' in row:
            category= 'Pay Bill Charge'
        elif 'Airtime Purchase' in row:
            category= 'Airtime Purchase'
        elif 'Pay Bill to' in row:
            category= 'Pay Bill to'
        else:
            category= row
        detsA.append(category)
    return detsA

In [44]:
dets= read_details(details)

In [45]:
Clean_data['Transaction Type']=dets

In [46]:
Clean_data.head(50)

,Receipt No,Completion Time,Details,Transaction Status,Paid in,Withdraw\rn,Balance,Transaction Type
0,QG19OUVM6L,2022-07-01 18:25:24,Customer Transfer to 254798***904 -\rCaroline ...,COMPLETED,0.00,50.00,775.50,Customer Transfer
1,QG11OHV8NN,2022-07-01 16:04:31,Pay Bill Charge,COMPLETED,0.00,23.00,825.50,Pay Bill Charge
2,QG11OHV8NN,2022-07-01 16:04:31,Pay Bill to 200222 - NHIF Acc. 34664143,COMPLETED,0.00,500.00,848.50,Pay Bill to
3,QG10OHP9A0,2022-07-01 16:02:25,M-Shwari Withdraw,COMPLETED,"1,000.00",0.00,"1,348.50",M-Shwari Withdraw
4,QG16OF8PA4,2022-07-01 15:31:39,Merchant Payment to 779959 - NAIVAS\rDEVELOPME...,COMPLETED,0.00,120.00,348.50,Merchant Payment
5,QG13OAOXTX,2022-07-01 14:33:28,Customer Transfer to 254720***288 -\rMUSILI MUTUA,COMPLETED,0.00,50.00,468.50,Customer Transfer
6,QG16OAIJEQ,2022-07-01 14:31:18,M-Shwari Withdraw,COMPLETED,500.00,0.00,518.50,M-Shwari Withdraw
7,QG14NTN1JE,2022-07-01 10:49:40,Airtime Purchase,COMPLETED,0.00,100.00,18.50,Airtime Purchase
8,QG13NTLYMJ,2022-07-01 10:49:25,M-Shwari Withdraw,COMPLETED,100.00,0.00,118.50,M-Shwari Withdraw
9,QG17NHYJOZ,2022-07-01 07:53:43,Customer Transfer to 254718***386 -\rELIJAH MB...,COMPLETED,0.00,50.00,18.50,Customer Transfer
10,QG17NG56D9,2022-07-01 07:11:32,Customer Transfer to 254712***336 -\rGIDEON AB...,COMPLETED,0.00,50.00,68.50,Customer Transfer
11,QFU1N4SXRB,2022-06-30 21:09:49,Customer Transfer to 0758***553 - John\rKinyan...,COMPLETED,0.00,60.00,118.50,Customer Transfer
12,QFU3N07IHD,2022-06-30 20:18:46,Customer Transfer of Funds Charge,COMPLETED,0.00,6.00,178.50,Customer Transfer
13,QFU3N07IHD,2022-06-30 20:18:46,Customer Transfer to 254740***071 - Peter\rKig...,COMPLETED,0.00,320.00,184.50,Customer Transfer
14,QFU0MZD71C,2022-06-30 20:10:40,Pay Bill to 522522 - KCB Paybill AC Acc.\r5541259,COMPLETED,0.00,"2,300.00",504.50,Pay Bill to
16,QFU2MOSE18,2022-06-30 18:40:09,Pay Bill Online to 826915 - Safaricom\rOffers ...,COMPLETED,0.00,20.00,"2,804.50",Pay Bill Online
17,QFU9M991AD,2022-06-30 15:47:09,Funds received from 254710***554 -\rPETER MAIN...,COMPLETED,"1,000.00",0.00,"2,824.50",Funds received
18,QFU8M4BTNY,2022-06-30 14:41:07,Pay Bill Charge,COMPLETED,0.00,23.00,"1,824.50",Pay Bill Charge
19,QFU8M4BTNY,2022-06-30 14:41:07,Pay Bill to 4076099 - Sleeklady Cosmetics\rB8 ...,COMPLETED,0.00,330.00,"1,847.50",Pay Bill to
20,QFU1M0QOL3,2022-06-30 13:53:29,Customer Transfer to 254704***776 -\rJEPTHER S...,COMPLETED,0.00,60.00,"2,177.50",Customer Transfer
21,QFU8M0DDSC,2022-06-30 13:48:28,Pay Bill Online to 826915 - Safaricom\rOffers ...,COMPLETED,0.00,99.00,"2,237.50",Pay Bill Online
22,QFU5LT6VHB,2022-06-30 12:10:53,Pay Bill Online to 826915 - Safaricom\rOffers ...,COMPLETED,0.00,20.00,"2,336.50",Pay Bill Online
23,QFU9LR85PD,2022-06-30 11:42:30,Pay Bill Online to 826915 - Safaricom\rOffers ...,COMPLETED,0.00,20.00,"2,356.50",Pay Bill Online
24,QFT3KRYVZ1,2022-06-29 19:29:12,Pay Bill Online to 826915 - Safaricom\rOffers ...,COMPLETED,0.00,20.00,"2,376.50",Pay Bill Online
25,QFT4KJ9YCU,2022-06-29 18:10:09,Pay Bill Online to 826915 - Safaricom\rOffers ...,COMPLETED,0.00,20.00,"2,396.50",Pay Bill Online
26,QFT9KEH25B,2022-06-29 17:17:53,Merchant Payment to 581500 - OASIS\rSUPERMARKET,COMPLETED,0.00,60.00,"2,416.50",Merchant Payment
27,QFT8JKT2NU,2022-06-29 10:25:09,Funds received from 254702***798 - ALICE\rNYAB...,COMPLETED,"1,100.00",0.00,"2,476.50",Funds received
28,QFS2HQ4SVQ,2022-06-28 11:57:29,Pay Bill Online to 826915 - Safaricom\rOffers ...,COMPLETED,0.00,40.00,"1,376.50",Pay Bill Online
29,QFS4HHXXQS,2022-06-28 09:51:18,Airtime Purchase,COMPLETED,0.00,100.00,"1,416.50",Airtime Purchase
30,QFR5G4ZWMB,2022-06-27 15:17:24,Customer Transfer to 254725***990 -\rGODFREY M...,COMPLETED,0.00,100.00,"1,516.50",Customer Transfer
31,QFQ3F0GM2D,2022-06-26 20:44:56,Funds received from 0791***718 - douglas\rkipk...,COMPLETED,"1,000.00",0.00,"1,616.50",Funds received
32,QFQ5EE4RRT,2022-06-26 16:22:09,Pay Bill Online to 826915 - Safaricom\rOffers ...,COMPLETED,0.00,40.00,616.50,Pay Bill Online
33,QFQ9E2GTC1,2022-06-26 13:23:48,Pay Bill Online to 826915 - Safaricom\rOffers ...,COMPLETED,0.00,20.00,656.50,Pay Bill Online
34,QFQ0DYXE6K,2022-06-26 12:22:28,Pay Bill Online to 826915 - Safaricom\rOffers ...,COMPLETED,0.00,20.00,676.50,Pay Bill Online
35,QFP2DGDQN6,2022-06-25 23:40:48,Pay Bill Online to 826915 - Safaricom\rOffers ...,COMPLETED,0.00,20.00,696.50,Pay Bill Online
36,QFP9C2TUH9,2022-06-25 12:29:30,Pay Bill Online to 826915 - Safaricom\rOffers ...,COMPLETED,0.00,40.00,716.50,Pay Bill Online
37,QFP7BP9GI3,2022-06-25 08:59:15,Buy Bundles,COMPLETED,0.00,20.00,756.50,Buy Bundles
38,QFO0BESC5U,2022-06-24 22:16:25,Customer Transfer to 0793***228 - PAUL\rGIKONY...,COMPLETED,0.00,50.00,776.50,Customer Transfer
39,QFO2AZQ11Y,2022-06-24 19:10:48,Pay Bill Online to 826915 - Safaricom\rOffers ...,COMPLETED,0.00,50.00,826.50,Pay Bill Online
40,QFO3ARM03B,2022-06-24 17:52:37,Customer Transfer to 254721***586 -\rJACOBUS M...,COMPLETED,0.00,50.00,876.50,Customer Transfer
41,QFO1A5DPET,2022-06-24 13:03:09,Funds received from 254702***798 - ALICE\rNYAB...,COMPLETED,700.00,0.00,926.50,Funds received
42,QFN99EOLHT,2022-06-23 22:03:34,Buy Bundles,COMPLETED,0.00,20.00,226.50,Buy Bundles
43,QFN98QUGJ5,2022-06-23 17:32:06,Pay Bill Online to 826915 - Safaricom\rOffers ...,COMPLETED,0.00,50.00,246.50,Pay Bill Online
44,QFN08FHJPQ,2022-06-23 14:57:48,Pay Bill Online to 826915 - Safaricom\rOffers ...,COMPLETED,0.00,20.00,296.50,Pay Bill Online
45,QFM1724RIX,2022-06-22 19:04:10,Airtime Purchase,COMPLETED,0.00,30.00,316.50,Airtime Purchase
46,QFL35L4UF3,2022-06-21 23:05:08,Pay Bill Online to 826915 - Safaricom\rOffers ...,COMPLETED,0.00,30.00,346.50,Pay Bill Online
47,QFL44WBNDG,2022-06-21 17:49:27,Pay Bill Online to 826915 - Safaricom\rOffers ...,COMPLETED,0.00,50.00,376.50,Pay Bill Online
48,QFL84GGRUK,2022-06-21 14:11:27,Pay Bill Online to 826915 - Safaricom\rOffers ...,COMPLETED,0.00,40.00,426.50,Pay Bill Online
50,QFL842W910,2022-06-21 10:49:44,Customer Transfer to 254702***798 -\rALICE NYA...,COMPLETED,0.00,100.00,466.50,Customer Transfer
51,QFL141VN4D,2022-06-21 10:34:01,Funds received from 254715***799 - DENIS\rNDUMBE,COMPLETED,500.00,0.00,566.50,Funds received

In [47]:
Data= cleaner.drop_columns(Clean_data,['Transaction Status','Details'])

In [49]:
Data.head()

,Receipt No,Completion Time,Paid in,Withdraw\rn,Balance,Transaction Type
0,QG19OUVM6L,2022-07-01 18:25:24,0.00,50.00,775.50,Customer Transfer
1,QG11OHV8NN,2022-07-01 16:04:31,0.00,23.00,825.50,Pay Bill Charge
2,QG11OHV8NN,2022-07-01 16:04:31,0.00,500.00,848.50,Pay Bill to
3,QG10OHP9A0,2022-07-01 16:02:25,"1,000.00",0.00,"1,348.50",M-Shwari Withdraw
4,QG16OF8PA4,2022-07-01 15:31:39,0.00,120.00,348.50,Merchant Payment

In [50]:
Data.dtypes

Receipt No          object
Completion Time     object
Paid in             object
Withdraw\rn         object
Balance             object
Transaction Type    object
dtype: object

Convert columns to the correct data types

In [51]:
Data['Paid in']= Data['Paid in'].str.replace(',', '').astype(float)

In [52]:
Data['Withdraw\rn']= Data['Withdraw\rn'].str.replace(',', '').astype(float)

In [53]:
Data['Balance']= Data['Balance'].str.replace(',', '').astype(float)

In [54]:
Data['Completion Time']=pd.to_datetime(Data['Completion Time'])

In [55]:
cleaner.convert_to(Data, ['Receipt No','Transaction Type'], str)

,Receipt No,Completion Time,Paid in,Withdraw\rn,Balance,Transaction Type
0,QG19OUVM6L,2022-07-01 18:25:24,0.0,50.0,775.5,Customer Transfer
1,QG11OHV8NN,2022-07-01 16:04:31,0.0,23.0,825.5,Pay Bill Charge
2,QG11OHV8NN,2022-07-01 16:04:31,0.0,500.0,848.5,Pay Bill to
3,QG10OHP9A0,2022-07-01 16:02:25,1000.0,0.0,1348.5,M-Shwari Withdraw
4,QG16OF8PA4,2022-07-01 15:31:39,0.0,120.0,348.5,Merchant Payment
...,...,...,...,...,...,...
673,QA516U45RJ,2022-01-05 18:58:30,15000.0,0.0,15005.0,Deposit of Funds
675,QA516GVQ0H,2022-01-05 15:55:39,0.0,20.0,5.0,Buy Bundles
676,QA5369RQA5,2022-01-05 13:56:44,0.0,50.0,25.0,Buy Bundles
677,QA4552ABBB,2022-01-04 18:25:46,0.0,300.0,75.0,Merchant Payment
678,QA4552782V,2022-01-04 18:24:54,200.0,0.0,375.0,M-Shwari Withdraw

In [56]:
Data.dtypes

Receipt No                  object
Completion Time     datetime64[ns]
Paid in                    float64
Withdraw\rn                float64
Balance                    float64
Transaction Type            object
dtype: object

In [57]:
Data.to_csv('../data/TransactionData.csv', index=False)